img.header {
	position:absolute;
	margin-left: 487px;
	margin-top: 25px;
	width: 462px; height: 72px;
}

img.logo {
	position:absolute;
	margin-left: 381px;
	margin-top: 10.5px;
	width: 94px; height: 94px;
}

img.banner {
	position:absolute;
	margin-left: 365px;
	margin-top: 0.01px;
	width: 600px; height: 933px;
}

img.mondrian {
	position:absolute;
	margin-left: 704px;
	margin-top: 144px;
	width: 250px; height: 180px;
}

p.biografia{
	position: absolute;
	margin-left: 420px;
	margin-top: 155.5px;
	width: 20%;
	font-size: 16px;
	font-family:verdana;
 }

p.obras{
	position: absolute;
	margin-left: 580px;
	margin-top: 340px;
	width: 20%;
	font-size: 16px;
	font-family:verdana;
 }

img.uno {
	position:absolute;
	margin-left: 815px;
	margin-top: 375px;
	width: 139px; height: 115px;
}

img.dos {
	position:absolute;
	margin-left: 676px;
	margin-top: 374px;
	width: 129px; height: 115px;
}

img.tres {
	position:absolute;
	margin-left: 536px;
	margin-top: 375px;
	width: 129px; height: 114px;
}

img.cuatro {
	position:absolute;
	margin-left: 375px;
	margin-top: 375px;
	width: 150px; height: 114px;
}

img.destacado {
	position:absolute;
	margin-left: 415px;
	margin-top: 591px;
	width: 200px; height: 200px;
}

p.odestacada {
	position: absolute;
	margin-left: 550px;
	margin-top: 495px;
	width: 20%;
	font-size: 25px;
	font-family:verdana;
}

p.nombreobra {
	position: absolute;
	margin-left: 525px;
	margin-top: 525px;
	width: 20%;
	font-size: 20px;
	font-family:verdana;
}

p.destacadotexto{
	position: absolute;
	margin-left: 675px;
	margin-top: 590px;
	width: 20%;
	font-size: 16px;
	font-family:verdana;
 }
img.susbcripcion {
	position:absolute;
	margin-left: 460px;
	margin-top: 690px;
	width: 400px; height: 400px;
}

p.sub{
	position: absolute;
	margin-left: 480px;
	margin-top: 825px;
	width: 100%;
	font-size: 16px;
	font-family:verdana;
 }

 p.click{
	position: absolute;
	margin-left: 606px;
	margin-top: 855px;
	width: 100%;
	font-size: 20px;
	font-family:verdana;
 }